img {
  height: 100%;
  width: auto;
}

table {
  table-layout: fixed;
  width: 100%
}

td.twidth {
  width: 200px !important;
}

$baseFontSize: 16;
$green: #1abc9c;
$yellow: #f1c40f;
$red: #c0392b;
$blue: #3498db;
$grey: #f2f2f2;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

.body {
  font-size: #{$baseFontSize};
}

.header {
  padding: 1rem;
  margin: 0 0 2rem 0;

  background: grey;
}

h1 {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
}

// Gauge
.mask {
  position: relative;
  overflow: hidden;

  display: block;
  width: 200px;
  height: 100px;
  margin: 20px;
}
.semi-circle {
  position: relative;

  display: block;
  width: 200px;
  height: 100px;

  background: linear-gradient(to right, red 0%, yellow 50%, green 100%);

  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    display: block;
    width: 140px;
    height: 70px;
    margin-left: -70px;

    background: #fff;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 200px;

  background: transparent;

  transform: rotate(120deg) translate3d(0,0,0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;

    display: block;
    width: 202px;
    height: 102px;
    margin: -1px 0 0 -1px;

    background: #f2f2f2;

    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  }
}

.gauge--1 {
  .semi-circle {
    background: green;
  }
}

.gauge--2 {
  .semi-circle {
    background: red;
  }

  .semi-circle--mask {
    transform: rotate(20deg) translate3d(0,0,0);
  }
}
