<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table>
        <tr>
          <th>
            Tea:
          </th>
          <th colspan-2>
            Info:
          </th>
        </tr>
        <tr ng-repeat='tea in main.cart' ws-check>

        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-6">
      <a href="/cart"><button class='btn btn-primary' type="button">EDIT CART</button></a>
    </div>
    <div class="col-md-4">
      <h3>Total: </h3>
    </div>
  </div>
</div>
