<td>
  <img ng-src="{{tea.imageUrl}}" alt="tea.name">
<td>
  <h4>{{tea.name}}</h4>
  <ul>
    <li><strong>Price: </strong>{{tea.price / 100 | currency}}</li>
    <li><strong>Ingredients: </strong>{{tea.ingredients}}</li>
    <li><strong>Rating: </strong>{{tea.rating}}</li>
    <li><strong>In Stock? </strong>{{tea.inStock && 'Yes'|| 'No'}}</li>
    <li><strong>Categories: </strong>
      <span ng-repeat='categorie in tea.categories'>
        {{categorie}},
      </span>
    </li>
  </ul>
</td>
<td>
  <h5>Quantity: </h5>
  <select ng-model='quantity' class="form-control" name="">
    <option ng-repeat='num in main.nums track by $index'>{{$index + 1}}</option>
  </select>
  <button ng-click='main.addToCart(tea, quantity)' class='btn btn-success btn-block' type="button" name="button"> Add to cart</button>
  <ws-meter meter-scope='tea'></ws-meter>
</td>
